body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p{
  font-size: 18px;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Passion One', cursive;
}


.navbar{
  background-color: #232B2B;
  border-radius: 4px;
  height: 10vh;
}

.navbar-brand{
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  margin-left: 50px;
  color:#50d07d !important;
}

.nav-links{
  margin: auto;
}

.nav-left{
  margin-right: auto;
}

.nav-right{
    margin-left: auto;
}

.navbar-item{
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #ddd;
  text-decoration: none !important;
  font-family: 'Bungee Shade', cursive;
  font-weight: 700;
}

.navbar-item:hover{
  color: #ddd;
}

.navbar-item .font-icon {
  padding: 5px 5px 0 0 ;
}

.nav-dropdown{
  background-color: #232B2B !important;
	border: none  !important ;
	padding: 0 20px 0 20px !important;
	outline: none !important ;
  font-size: 16px;
  color: #ddd !important;
  text-decoration: none !important;
  font-family: 'Bungee Shade', cursive;
  font-weight: 600;
}

.nav-dropdown:hover, .nav-dropdown:focus, .nav-dropdown:active {
  background-color: #232B2B !important;
  box-shadow: none !important;
}

.dropdown-menu{
  font-family: 'Bungee Shade', cursive !;
  width: 20vw;
}

.dropdown-menu .dropdown-item{
  font-weight: 800;
  color: #bbb ;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:active, .dropdown-menu .dropdown-item:focus{
  font-weight: 800;
  color: #999 !important;
  background-color: #eee;
}

.modal-header{
  border: none;
}

.modal-header .close span{
  font-size: 64px;
}

.modal-content{
  width: 100vw;
  height: 100vh;
}

div.fade.in.modal {
  display:flex !important;
}

.modal-dialog {
  margin: 0;
}

.my-modal .log-in {
  text-align: center;
  padding-bottom: 50px;
  margin-top:50vh;
  border-bottom: 2px solid #c984aa;
  font-size: 48px;
}

.my-modal .log-in a{
  color: #0c0b31;
}

.my-modal .log-in span{
  padding-left: 25px;
  color: #c984aa;
}

.my-modal-2 .title {
  margin-top:50vh;
  margin-left: 10vw;
}

.my-modal-2 .preffered-language{
  margin-left: 10vw;
  font-size: 20px;
  font-weight: 500;
}

.my-modal-2 .preffered-language a{
  text-decoration: none;
  background-color: #f7ede4;
  color: #000;
  padding: 20px 200px 20px 20px;
}


.footer{
  background-color: rgb(247,235,226,0.9);
}

.footer .content{
  padding-top: 50px;
}

.footer .content .title span{
  font-family: 'Dancing Script', cursive;
  font-weight: 800;
}

.footer ul{
  list-style-type: none;
  padding:0;
  margin: 0;
}

.footer .footer-btns {
  display:block;
  padding: 10px 30px;
  border-radius: 30px;
  margin:15px 15px 0;
  background-color: #fff;
  border-color: #c984aa !important;
  color: #0c0b31 !important;
  width: 175px;
  font-weight: 600;
  font-family: 'Fira Sans', sans-serif;
}

.footer .footer-btns span{
  font-family: 'Dancing Script', cursive;
  font-weight: 800;
}

.footer .footer-item{
  font-size: 12px;
  color: #0c0b31 !important;
  cursor: text;
}

.footer .terms , .footer .privacy{
  color: #a86072 !important;
  text-decoration: underline;
  cursor: pointer;
}

.footer .twitter:hover{
  color: #52a7e7 !important;
  cursor: pointer;
}

.footer .facebook:hover{
  color: #435e98 !important;
  cursor: pointer;
}

.footer .instagram:hover{
  color: rgb(221, 42, 123) !important;
  cursor: pointer;
}

.footer .title{
  margin-bottom: 30px;
}
